html{
  background: -webkit-linear-gradient(115deg, #466173 28%, #FFF 178%);
   font-size: 62.5%;
 }
 
 body {
   margin: 0;
   padding: 0;
 }
 
 .container{
   margin: 0 auto;
   max-width: 1200px;
   padding: 64px 0;
 }